            <section class="posts-list">
                <h2>Recent posts</h2>
                <ul>
$body$
                </ul>
                <h3>→ <a href="./posts.html">All posts</a></h3>
                <h2>Posts series</h2>
                <ul>
                    <li><a href="./tags/knowingyoursystem.html">Knowing your system</a></li>
                    <li><a href="./tags/GPaste.html">GPaste - clipboard manager</a></li>
                    <li><a href="./tags/facron.html">Facron - fanotify cron system</a></li>
                    <li><a href="./tags/germinal.html">Germinal - minimalist terminal emulator</a></li>
                    <li><a href="./tags/systemd.html">systemd related stuff</a></li>
                    <li><a href="./tags/exherbo.html">Exherbo GNU/linux</a></li>
                    <li><a href="./tags/paludis.html">Paludis - the other package mangler</a></li>
                </ul>
            </section>
