            <article>
                <header>
                    <h1>$title$</h1>
                    <p class="by">by <em>$author$</em> on <strong>$date$</strong></p>
                    <p>Tagged as: $prettytags$.</p>
                </header>

                <section>
$body$
                </section>
$if(gpaste)$

                <footer>
                    <p>If GPaste is useful to you, you can support its development through <a href="https://github.com/sponsors/Keruspe">GitHub Sponsors</a> or <a href="https://paypal.me/keruspe/">PayPal</a>.</p>
                </footer>
$endif$
            </article>
